name: Build
on:
  push:
    branches-ignore:
      - "main"
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js 24
      uses: actions/setup-node@v4
      with:
        node-version: '24'
        cache: 'npm'
        
    - run: npm ci
    - run: npm run build
    - run: npm test

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./dist